<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @comment.nickname %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>References:</strong>
  <%= @comment.references %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
